// Main styles
@import './variables';

html,
body {
	font-family: $font-lato;
	margin: 0;
	padding: 0;
}

.main {
	align-items: center;
	background: linear-gradient(
		-45deg,
		$color-primary 0%,
		$color-secondary 100%
	);
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.btn {
	cursor: pointer;
}

.btn-main {
	appearance: none;
	background: transparent;
	border: 0;
	font-family: $font-lobster;
	font-size: 42px;
	height: 60px;
	outline: none;
	padding: 0 20px;
	transition: transform 0.5s ease;

	&:hover {
		transform: scale(1.15);
	}
}
