/* Main styles */
html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  background: linear-gradient(-45deg, #fcaf32 0%, #fc888e 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn-main {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  height: 60px;
  outline: none;
  padding: 0 20px;
  transition: all .5s ease;

  &:hover {
    transform: scale(1.15);
  }
}
